{% extends './base.html' %}

<!doctype html>
 {% block title %}
 <!--title of the facebook post news article link
Ivanka Trump meeting with Al Gore on climate change  -->
{% endblock title %}
{% block post %}
<!--facebook post summart-->
<h3>German Chancellor Angela Merkel is stepping up efforts to speed up deportations of rejected asylum seekers after a terror attack in Berlin last year cast a sharp light on the potential risks of letting failed refugees remain in the country. What do you think of the move?</h3>
<!--summary of the news article-->
<h4> The chancellor Thursday called on the country's 16 federal states to back fresh measures expediting deportations.</h4>
{% endblock post %}
{% block postimage %}
<td width="40%" rowspan="2"><a href="nocnn5" target="_blank"><img src="../static/images/post5.png"  width="100%" height="100%" alt="" ></a></td> <!--../templates/nocnn4.html-->
{% endblock postimage %}
{% block postsurvey %}
  <button type="button" onclick="popup('w',5)">Post Survey</button></span>
{% endblock postsurvey %}
{% block commentsurvey %}
  <button type="button" onclick="popup_comment('w',5)">Comment Survey</button></span>
{% endblock commentsurvey %}

{% block content %}
<form>
{% for aspect in dic %}
 <tr class="bigtr">

<td  class = "bigtd">{{aspect}}</td>


        <td class="newstd"><div style="height: 250px; width:550px;overflow-y: auto; overflow-x: hidden">
                  <table class="neg" border="0" cellpadding="20" cellspacing="0" >
                          <colgroup><col ></colgroup>
                          <tbody>
                          {% for list in dic[aspect] %}
                          {% if list[0]==sentiment[0] %}
                            <tr height="20">
                              <td class="newstd" height="20" ><!-- <input type="checkbox" id="positive" value="{{list[1]}}" name="{{aspect}}"> -->


                                {% set shareid=list[0]+"\t\t"+aspect+"\t\t"+list[2] %}
                                {% set readmoreid=list[0]+"\t\t"+aspect+"\t\t"+list[2] %}
                                     <div class="wrapper">
                                       <div class="smallgmk">
                                         {{list[1]}}
                                       </div> <a href="{{readmoreid}}">Click to read more</a>
                                     </div>
                                     <script>
                                     $('.wrapper').find('a[href="{{readmoreid}}"]').on('click', function (e) {
                                       
                                       e.preventDefault();
                                       if (this.text == "Click to read more"){
                                         var read_data = "{{readmoreid}}"
                                         $.post( "/readmore", { 'read_data': read_data} );
                                         console.log(read_data)
                                       }
                                       this.expand = !this.expand;

                                       $(this).text(this.expand?"Click to collapse":"Click to read more");
                                       $(this).closest('.wrapper').find('.smallgmk, .biggmk').toggleClass('smallgmk biggmk');
                                     });
                                   </script>
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                              <button type="button" class="commentreplybutton" onclick="replyFunction('{{shareid}}')">Reply</button>
                                     <div id="{{shareid}}" style = "display: none">

                                     <span><input id="input{{shareid}}" type="text" name="test" size = "60">
                                     <button type="button" class="subreplybutton" onclick="subreplyFunction('input{{shareid}}')">Submit</button></span>


                                     <ul class="square">
                                      {% if replydic[list[2]]|length > 1 %}
                                      {% set replies=replydic[list[2]][0:10] %}
                                      {% else %}
                                      {% set replies=replydic[list[2]] %}
                                      {% endif %}

                                      {% for reply in replies %}
                                        <li>{{reply}}</li>
                                      {% endfor %}
                                    </ul>
                                   </div>
                           </td>


                            </tr>
                          {% endif %}
                          {% endfor %}
                            <!-- <tr height="20">
                              <td height="20"><input type="checkbox" id="Check"> &nbsp;Content2 &nbsp;<a href="#" class="commentsharebutton" onclick="alert('Shared!')">Share</a></td>
                            </tr> -->
                          </tbody>
                  </table></div></td>



        <td class="newstd">
          <div style="height: 250px; width: 550px; overflow-y: auto; overflow-x: hidden">
                  <table class="pos" border="0" cellpadding="20" cellspacing="0" >
                          <colgroup><col ></colgroup>
                          <tbody>
                          {% for list in dic[aspect] %}
                             {% if list[0]==sentiment[1] %}
                            <tr height="20">
                              <td class="newstd" height="20" ><!-- <input type="checkbox" id="negative" value="{{list[1]}}" name="{{aspect}}"> -->
                               

                            
                                {% set shareid=list[0]+"\t\t"+aspect+"\t\t"+list[2] %}
                                {% set readmoreid=list[0]+"\t\t"+aspect+"\t\t"+list[2] %}
                            <div class="wrapper">
                              <div class="smallgmk">
                                {{list[1]}}
                              </div> <a href="{{readmoreid}}">Click to read more</a>
                            </div>
                            <script>
                            $('.wrapper').find('a[href="{{readmoreid}}"]').on('click', function (e) {
                              console.log("hahah")
                              e.preventDefault();
                              if (this.text == "Click to read more"){
                                var read_data = "{{readmoreid}}"
                                $.post( "/readmore", { 'read_data': read_data} );
                                console.log(read_data)
                              }
                              this.expand = !this.expand;

                              $(this).text(this.expand?"Click to collapse":"Click to read more");
                              $(this).closest('.wrapper').find('.smallgmk, .biggmk').toggleClass('smallgmk biggmk');
                            });
                          </script>
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                              <button type="button" class="commentreplybutton" onclick="replyFunction('{{shareid}}')">Reply</button>
                                     <div id="{{shareid}}" style = "display: none">

                                     <span><input id="input{{shareid}}" type="text" name="test" size = "60">
                                     <button type="button" class="subreplybutton" onclick="subreplyFunction('input{{shareid}}')">Submit</button></span>


                                     <ul class="square">
                                      {% if replydic[list[2]]|length > 1 %}
                                      {% set replies=replydic[list[2]][0:10] %}
                                      {% else %}
                                      {% set replies=replydic[list[2]] %}
                                      {% endif %}

                                      {% for reply in replies %}
                                        <li>{{reply}}</li>
                                      {% endfor %}
                                    </ul>
                                   </div>
                           </td>


                            </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table>
            </div>
        </td>

</tr>
{% endfor %}
</form>
{% endblock content %}
