{% extends './base.html' %}

<!doctype html>
<script type="text/javascript"
  src="http://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>

{% block title %}
America, meet your new first lady
{% endblock title %}
{% block post %}
<h3>Melania Trump will become just the second foreign-born first lady in US history.</h3>
<h4>Melania Trump will become just the second foreign-born first lady in US history. She has been a balancing force for her husband.</h4>
{% endblock post %}
{% block postimage %}
<td width="40%" rowspan="2"><a href="http://www.cnn.com/2016/11/09/politics/america-new-first-lady/index.html?sr=fbCNN111016america-new-first-lady1116AMVODtopLink&linkId=31002953" target="_blank"><img src="../static/images/post1.png"   height="100%" alt="Melania Trump: From Slovenia to the White House" ></a></td>
{% endblock postimage %}




{% block content %}
<form>


{% for aspect in dic %}

 <tr class="bigtr">

<td  class = "bigtd">{{aspect}}</td>



        <td class="newstd"><div style=" height: 250px; width:600px; overflow-y: auto; overflow-x: hidden">
                  <table class="pos" border="0" cellpadding="5" cellspacing="0" >
                          <colgroup><col></colgroup>


                          <tbody>

                          {% for list in dic[aspect] %}

                          {% if list[0]=='positive' %}

                            <tr height="20">


                              <td class="newstd" height="20" ><input type="checkbox" id="positive" value="{{list[1]}}" name="{{aspect}}">

                               {{list[1]}}

                               {% set shareid=aspect+"\t\tpositive\t\t"+list[1].replace("'", "") %}
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                              <button type="button" class="commentreplybutton" onclick="replyFunction('{{shareid}}')">Reply</button>
                                     <div id="{{shareid}}" style = "display: none">

                                     <span><input id="input{{shareid}}" type="text" name="test" size = "60">
                                     <button type="button" class="subreplybutton" onclick="subreplyFunction('input{{shareid}}')">Submit</button></span>


                                     <ul class="square">
                                      {% if replydic[list[2]]|length > 1 %}
                                      {% set replies=replydic[list[2]][0:10] %}
                                      {% else %}
                                      {% set replies=replydic[list[2]] %}
                                      {% endif %}

                                      {% for reply in replies %}
                                        <li>{{reply}}</li>
                                      {% endfor %}
                                    </ul>
                                   </div>
                           </td>



                            </tr>
                          {% endif %}
                          {% endfor %}
                            <!-- <tr height="20">
                              <td height="20"><input type="checkbox" id="Check"> &nbsp;Content2 &nbsp;<a href="#" class="commentsharebutton" onclick="alert('Shared!')">Share</a></td>
                            </tr> -->
                          </tbody>
                  </table></div></td>



        <td class="newstd">
          <div style="height: 250px; width:600px; overflow-y: auto; overflow-x: hidden">
                  <table class="neg" border="0" cellpadding="5" cellspacing="0" width="100%">
                          <colgroup><col></colgroup>

                          <tbody>
                          {% for list in dic[aspect] %}
                              {% if list[0]=='negative' %}
                            <tr height="20">

                              <td class="newstd" height="20" ><input type="checkbox" id="negative" value="{{list[1]}}" name="{{aspect}}">
                               {{list[1]}}
                               {% set shareid=aspect+"\t\tnegative\t\t"+list[1].replace("'", "") %}
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                              <button type="button" class="commentreplybutton" onclick="replyFunction('{{shareid}}')">Reply</button>
                                     <div id="{{shareid}}" style = "display: none">

                                     <span><input id="input{{shareid}}" type="text" name="test" size = "60">
                                     <button type="button" class="subreplybutton" onclick="subreplyFunction('input{{shareid}}')">Submit</button></span>


                                     <ul class="square">
                                      {% if replydic[list[2]]|length > 1 %}
                                      {% set replies=replydic[list[2]][0:10] %}
                                      {% else %}
                                      {% set replies=replydic[list[2]] %}
                                      {% endif %}

                                      {% for reply in replies %}
                                        <li>{{reply}}</li>
                                      {% endfor %}
                                    </ul>
                                   </div>
                           </td>



                            </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table>
            </div>
        </td>

</tr>
 {% endfor %}
</form>
{% endblock content %}
