{% extends './base.html' %}

<!doctype html>
<script type="text/javascript"
  src="http://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>
<script type="text/javascript">

function popup(){
  cuteLittleWindow = window.open("./nocnn1", "littleWindow", "location=no,width=760,height=500");
}

</script>

{% block title %}
America, meet your new first lady
{% endblock title %}
{% block post %}
<h3>Melania Trump will become just the second foreign-born first lady in US history.</h3>
<h4>Melania Trump will become just the second foreign-born first lady in US history. She has been a balancing force for her husband.</h4>
{% endblock post %}
{% block postimage %}

<td width="40%" rowspan="2"><a href="javascript:popup()"><img src="../static/images/thumb1.png"   height="100%" alt="Melania Trump: From Slovenia to the White House" ></a></td> <!--../templates/nocnn1.html-->
{% endblock postimage %}




{% block content %}
<form>


{% for aspect in dic %}

 <tr class="bigtr">

<td  class = "bigtd">{{aspect}}</td>



        <td class="newstd"><div style=" height: 250px; width:600px; overflow-y: auto; overflow-x: hidden" >
                  <table class="pos" border="0" cellpadding="20" cellspacing="0" width="100%">
                          <colgroup><col width="100%"></colgroup>


                          <tbody>

                          {% for list in dic[aspect] %}

                          {% if list[0]=='positive' %}

                            <tr height="20">


                              <td class="newstd" height="20" ><input type="checkbox" id="positive" value="{{list[1]}}" name="{{aspect}}">
                                {% set shareid=aspect+"\t\tpositive\t\t"+list[1].replace("'", "") %}
                                {% set readmoreid="positive\t\t"+aspect+"\t\t"+list[1].replace("'", "") %}
                                <div class="wrapper">
                                  <div class="smallgmk">
                                    {{list[1]}}
                                  </div> <a href="{{readmoreid}}">Click to read more</a>
                                </div>
                                <script>
                                $('.wrapper').find('a[href="{{readmoreid}}"]').on('click', function (e) {
                                  console.log("hahah")
                                  e.preventDefault();
                                  if (this.text == "Click to read more"){
                                    var read_data = "{{readmoreid}}"
                                    $.post( "/readmore", { 'read_data': read_data} );
                                    console.log(read_data)
                                  }
                                  this.expand = !this.expand;

                                  $(this).text(this.expand?"Click to collapse":"Click to read more");
                                  $(this).closest('.wrapper').find('.smallgmk, .biggmk').toggleClass('smallgmk biggmk');
                                });
                              </script>
                                <!--
                                {% set arr = list[1].split('.') %}

                                {% set headpart = arr[0] +'.'%}
                                {{headpart}}
                                <button type="button" class="commentreplybutton" onclick="readmoreFunction('readmore{{shareid}}')">Read More</button>
                                <div id="readmore{{shareid}}" style = "display: none">
                                {% if arr[1:]|length > 0 %}


                                 {{ arr[1:]|join(". ") }}


                               {% endif %}
                                </div>
                              -->
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                              <button type="button" class="commentreplybutton" onclick="replyFunction('{{shareid}}')">Reply</button>
                                     <div id="{{shareid}}" style = "display: none">

                                     <span><input id="input{{shareid}}" type="text" name="test" size = "60">
                                     <button type="button" class="subreplybutton" onclick="subreplyFunction('input{{shareid}}')">Submit</button></span>


                                     <ul class="square">
                                      {% if replydic[list[2]]|length > 1 %}
                                      {% set replies=replydic[list[2]][0:10] %}
                                      {% else %}
                                      {% set replies=replydic[list[2]] %}
                                      {% endif %}

                                      {% for reply in replies %}
                                        <li>{{reply}}</li>
                                      {% endfor %}
                                    </ul>
                                   </div>
                           </td>



                            </tr>
                          {% endif %}
                          {% endfor %}
                            <!-- <tr height="20">
                              <td height="20"><input type="checkbox" id="Check"> &nbsp;Content2 &nbsp;<a href="#" class="commentsharebutton" onclick="alert('Shared!')">Share</a></td>
                            </tr> -->
                          </tbody>
                  </table></div></td>



        <td class="newstd">
          <div style="height: 250px; width:600px; overflow-y: auto; overflow-x: hidden">
<!--<<<<<<< HEAD

                  <table class="neg" border="0" cellpadding="15" cellspacing="0" width="100%">
=======-->
                  <table class="neg" border="0" cellpadding="20" cellspacing="0" width="100%">

                          <colgroup><col width="100%"></colgroup>


                          <tbody>
                          {% for list in dic[aspect] %}
                              {% if list[0]=='negative' %}
                            <tr height="20">

                              <td class="newstd" height="20" ><input type="checkbox" id="negative" value="{{list[1]}}" name="{{aspect}}">

                               {% set shareid=aspect+"\t\tnegative\t\t"+list[1][:300].replace("'", "") %}
                               {% set readmoreid="negative\t\t"+aspect+"\t\t"+list[1][:300].replace("'", "") %}
                               <div class="wrapper">
                                 <div class="smallgmk">
                                   {{list[1]}}
                                 </div> <a href="{{readmoreid}}">Click to read more</a>
                               </div>
                               <script>
                               $('.wrapper').find('a[href="{{readmoreid}}"]').on('click', function (e) {
                                 console.log("hahah")
                                 e.preventDefault();
                                 if (this.text == "Click to read more"){
                                   var read_data = "{{readmoreid}}"
                                   $.post( "/readmore", { 'read_data': read_data} );
                                   console.log(read_data)
                                 }
                                 this.expand = !this.expand;

                                 $(this).text(this.expand?"Click to collapse":"Click to read more");
                                 $(this).closest('.wrapper').find('.smallgmk, .biggmk').toggleClass('smallgmk biggmk');
                               });
                             </script>
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                              <button type="button" class="commentreplybutton" onclick="replyFunction('{{shareid}}')">Reply</button>
                                     <div id="{{shareid}}" style = "display: none">

                                     <span><input id="input{{shareid}}" type="text" name="test" size = "60">
                                     <button type="button" class="subreplybutton" onclick="subreplyFunction('input{{shareid}}')">Submit</button></span>


                                     <ul class="square">
                                      {% if replydic[list[2]]|length > 1 %}
                                      {% set replies=replydic[list[2]][0:10] %}
                                      {% else %}
                                      {% set replies=replydic[list[2]] %}
                                      {% endif %}

                                      {% for reply in replies %}
                                        <li>{{reply}}</li>
                                      {% endfor %}
                                    </ul>
                                   </div>
                           </td>



                            </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table>
            </div>
        </td>

</tr>
 {% endfor %}
</form>
{% endblock content %}
