{% extends './base.html' %}

<!doctype html>
 {% block title %}
  <!--title of the facebook post news article link-->
It's official: Clinton swamps Trump in popular vote
{% endblock title %}
{% block post %}
<!--facebook post summart-->
<h3>More Americans voted for Hillary Clinton than any other losing presidential candidate in US history</h3>
<h4>Clinton outpaced Trump by almost 2.9 million votes. She lost the Electoral College, however.</h4>
{% endblock post %}
{% block postimage %}
<td width="40%" rowspan="2"><a href="http://www.cnn.com/2016/12/21/politics/donald-trump-hillary-clinton-popular-vote-final-count/index.html?sr=fbCNN122216donald-trump-hillary-clinton-popular-vote-final-count0110AMStoryLink&linkId=32646908" target="_blank"><img src="../static/images/post2.png"  width="100%" height="100%" alt="Trump claims fraud cost him popular vote" ></a></td>
{% endblock postimage %}


{% block content %}
<form>
{% for aspect in dic %}
{% set aspectcount = 0%}
 <tr class="bigtr">

<td  class = "bigtd">{{aspect}}</td>


        <td class="newstd"><div style="height: 250px; width:100%;overflow-y: auto; overflow-x: hidden">
                  <table class="pos" border="0" cellpadding="5" cellspacing="0" width="100%">
                          <colgroup><col width="100%"></colgroup>
                          <tbody>
                          {% set count = 0%}


                          {% for list in dic[aspect] %}
                          {% if list[0]=='positive' %}
                          {% set divid = count|string + aspectcount|string%}
                            <tr height="20">
                              <td class="newstd" height="20" width="100%"><input type="checkbox" id="positive" value="{{list[1]}}" name="{{aspect}}"> 
                               {{list[1]}}
                               
                               {% set shareid=aspect+"\t\tpositive\t\t"+list[1] %}
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>
                             <button onclick="myFunction('{{divid}}')">Reply</button>
                             {% set myDIVID = divid%}
                             <div id={{myDIVID}} style = "display: none;">
                               <input type="text" name="test" size = "80"><br>
                               <ul>
                                  <li>Comment1</li>
                                  <li>Comment2</li>
                                  <li>Comment3</li>
                              </ul>
                             </div>
                             {% set count = count + 2%}
                           </td>


                            </tr>
                          {% endif %}
                          {% endfor %}
                            <!-- <tr height="20">
                              <td height="20"><input type="checkbox" id="Check"> &nbsp;Content2 &nbsp;<a href="#" class="commentsharebutton" onclick="alert('Shared!')">Share</a></td>
                            </tr> -->
                          </tbody>
                  </table></div></td>



        <td class="newstd">
          <div style="height: 250px;width:100%; overflow-y: auto; overflow-x: hidden;">
                  <table class="neg" border="0" cellpadding="5" cellspacing="0" width="100%">
                          <colgroup><col width="100%"></colgroup>
                          <tbody>
                          {% for list in dic[aspect] %}
                              {% if list[0]=='negative' %}
                            <tr height="20">
                              <td height="20" width="100%"><input type="checkbox" id="negative" value="{{list[1]}}" name="{{aspect}}"> 
                               {{list[1]}}
                               {% set shareid=aspect+"\t\tnegative\t\t"+list[1] %}
                               <button type="button" class="commentsharebutton" onclick="shareFunction('{{shareid}}')">Share</button>

                            </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                    </table>
            </div>
        </td>

</tr>
{% set aspectcount = aspectcount + 1%}
{% endfor %}
<script>
function myFunction(id) {
    console.log(id)
    var x = document.getElementById(id);
    console.log(x)
    if (x.style.display == 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
</form>
{% endblock content %}
