<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Login</title>
		<link rel="icon" href="../static/images_old/logo.png" />
  		<link href="../static/css_old/fbstyle.css" rel="stylesheet"></link>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../static/js_old/jquery.min.js"></script>
		<script src="../static/js_old/jquery.dropotron.min.js"></script>
		<script src="../static/js_old/skel.min.js"></script>
		<script src="../static/js_old/skel-layers.min.js"></script>
		<script src="../static/js_old/init.js"></script>
		<!--noscript-->
			<link rel="stylesheet" href="../static/css_old/skel.css" />
			<link rel="stylesheet" href="../static/css_old/style.css" />
		<!--/noscript-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<style>
		p {
			font-size: 1.4em;
		}
		h2 {
			font-size: 2em;
		}
		input[type=submit] {padding:5px 15px; background:#666; border:0 none;
		    cursor:pointer;
		    color: #fff;
		    -webkit-border-radius: 5px;
		    border-radius: 5px; }
		input[type=submit]:hover {padding:5px 15px; background:#9BC1BC; border:0 none;
		    cursor:pointer;
		    color: #333;
		    -webkit-border-radius: 5px;
		    border-radius: 5px; }
		</style>
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">

			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2></h2>
					</section>
				</div>

			</div>

		<!-- Section One -->
			<div class="wrapper style2" align="center">
				<section class="container">
					<div class="6u">
						<form method="post">
						<p>Amazon mTurk Worker ID<input type="text" name="username" ></p>
							<p>Password<input type="text" name="password"></p>
	  					<h3>Please read the instructions carefully. Please understand that we may reject your work if your work is not valid or not following the instructions. </h3><br>
						<input type="radio" name="selection" value="worldviewlenses"> I understand. <br> <!--control-->
							<!--<a href="signup"><p>New to Weatherbook?</p></a>-->
							<input type="submit" name="login" value="Log In" class="button" >
						</form>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
<!-- 			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>
 -->
			<!-- Copyright -->
				<div id="copyright"></p>
				</div>
		</div>

	</body>
</html>
