<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Login</title>
		<link rel="icon" href="../static/images_old/logo.png" />
  		<link href="../static/css_old/fbstyle.css" rel="stylesheet"></link>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../static/js_old/jquery.min.js"></script>
		<script src="../static/js_old/jquery.dropotron.min.js"></script>
		<script src="../static/js_old/skel.min.js"></script>
		<script src="../static/js_old/skel-layers.min.js"></script>
		<script src="../static/js_old/init.js"></script>
		<!--noscript-->
			<link rel="stylesheet" href="../static/css_old/skel.css" />
			<link rel="stylesheet" href="../static/css_old/style.css" />
		<!--/noscript-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<style>
		p {
			font-size: 1.4em;
		}
		h2 {
			font-size: 2em;
		}
		</style>
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">

			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>WorldViewLenses</h2>
					</section>
				</div>

			</div>

		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="6u">
						<h2>Log In</h2><br>
						<form method="post">
						<p>Email<input type="text" name="username"></p>
							<p>Interface Type<input type="text" name="interfacetype"></p>
							<!--<a href="signup"><p>New to Weatherbook?</p></a>-->
							<input type="submit" name="login" value="Log In" class="button">
						</form>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a>
				</div>
		</div>

	</body>
</html>
