<!DOCTYPE html>
<html>
<head>
	<title>Merkel steps up plans to deport rejected migrants after terrorist attack</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif&amp;lang=en" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800&amp;lang=en" />

	<style>
		body{
	  font-family: "Droid Serif"
	}
	h1{
		font-size: 45px;
	}
	p{
		font-size: 16px;
		line-height: 1.15;
	}
		div.content{
			width:80%;
			margin:0 auto;
		}
	</style>
</head>
<body >
<div class="content" >
<div align="center">
<h1>Merkel steps up plans to deport rejected migrants after terrorist attack</h1><br>
<img src="../static/images/thumb5.png">
</div>
<p>
<br><br>
German Chancellor Angela Merkel is stepping up efforts to speed up deportations of rejected asylum seekers after a terror attack in Berlin last year cast a sharp light on the potential risks of letting failed refugees remain in the country.
</p>
<p>
The chancellor Thursday called on the country’s 16 federal states to back fresh measures expediting deportations. The states would be responsible for carrying out many of the new measures in deporting illegal migrants.
</p>
<h3>GERMANY ARRESTS SUSPECTED MEMBER OF AFGHANISTAN'S TALIBAN</h3>
<p>
Berlin wants to centralize the organization of deportations, now subject to a patchwork of laws and practices, create a national repatriation center, offer more cash incentives to those who depart willingly, and allow lengthy detention time for rejected asylum seekers who are believed to pose a risk to national security.
</p>
<p>
“The large number of asylum seekers who came to Germany in 2015 continues to pose big challenges to the federal government, states and communities,” the chancellery wrote in a draft of the plan seen by The Wall Street Journal.  “It requires a national effort to reach additional improvements.”
<p>
Regional politicians said there was broad agreement among the states on the plan ahead of a meeting between the chancellor and state governors in Berlin later that day to discuss the measures.
</p>
<h3>GERMAN MAGAZINE SPARKS FUROR WITH COVER OF TRUMP BEHEADING STATUE OF LIBERTY</h3>
<p>
“We agree that we must use all possibilities to quickly reach results,” said Volker Bouffier, premier of Hesse and a member of Ms. Merkel’s Christian Democratic Union.
</p>
<p>
Practices vary widely from state to state. While conservative Bavaria has boosted forced departures, some left-leaning state governments rarely carry out deportations and oppose tougher steps.
</p>
<p>
With some eight months to go before federal elections, Ms. Merkel is under pressure from the anti-immigrant Alternative for Germany and conservative allies in Bavaria to address public concern over migration, rising crime and the looming terror threat.
</p>
<p>
A December terror attack at a Christmas market in Berlin committed by a rejected Tunisian asylum seeker sparked sharp criticism of authorities’ failure, over many months to deport the man long known as a criminal and Islamist radical. Anis Amri killed 12 people when he rammed a truck into a Berlin Christmas market on Dec. 19. Authorities said he hadn't been deported because Tunisia failed for months to issue the necessary papers. Those documents finally reached authorities in Germany two days after the attack. Amri was killed in a shootout with Italian police near Milan four days after the market attack.
<br><br>
</p>
</div>

</body>
</html>