<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Candidates</title>
		<link rel="icon" href="../static/images/logo.png" />
  		<link href="../static/css/fbstyle.css" rel="stylesheet"></link>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.dropotron.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-layers.min.js"></script>
		<script src="../static/js/init.js"></script>
		<!--noscript-->
			<link rel="stylesheet" href="../static/css/skel.css" />
			<link rel="stylesheet" href="../static/css/style.css" />
		<!--/noscript-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<style>
		p {
			font-size: 1.4em;
		}
		h2 {
			font-size: 2em;
		}
		</style>
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">

			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>Social Opinion Projects</h2>
					</section>
				</div>

			</div>

		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="6u">
						<h2>Select the interface:</h2><br>
						<form method="post" style = "width: 600px;">
						<input type="radio" name="selection" value="worldviewlenses" > Interface 1<br>
  					<input type="radio" name="selection" value="control"> Interface 2<br>
						<!--input type="hidden" id = "testid" name="testid"  value={{testid}}>
						<input type="hidden" id = "pagecount" name="pagecount"  value={{pagecount}}-->
							<input type="submit" name="start" value="Submit" class="button">
						</form>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<!--div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a>
					Implement: <p>Copyright@UIUC_CASCADE_LAB_SocialOpinion</p>
				</div>
		</div>

	</body>
</html>
